/*	
*  Sublime Conception's HTML5 Catapault
*  Modified from:
*
 *	Peth's HTML5 Catapault
 * 	Based on: 
 *	
 *	Less Framework 3
 *	by Joni Korpi
 *	http://lessframework.com	
 *	
 *	~and~
 *	
 *	HTML5 ✰ Boilerplate
 *	by Paul Irish and Divya Manian (and many others!)
 *	http://html5boilerplate.com
 *		
 */




/*	
 * Resets
 * ==========================  
 */ 




/* Structural elements */


html, body,  div,  span,  object,  iframe,  h1,  h2,  h3,  h4,  h5,  h6, 
 p,  blockquote,  pre,  a,  abbr,   cite,  code,  del,  dfn,  em, 
 img,  ins,  kbd,  q,  samp,  small,  strong,  sub,  sup,  var,  b,  i,  
 dl,  dt,  dd,  ol,  ul,  li,  fieldset,  form,  label,  legend, 
 table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td,
 article,  aside,  canvas,  details,  figure,  figcaption,  hgroup, 
 menu,  footer,  header,  nav,  section,  summary,  time,  mark,  audio,  video {
	margin: 0;
	padding: 0;
	border: 0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

 article,  aside,  canvas,  figure,  figure img,  figcaption,  hgroup,
 footer,  header,  nav,  section,  audio,  video {
	display: block;
}

 figure {position: relative;}
 figure img {width: 100%;}

 table { border-collapse:collapse; border-spacing:0; }



/* links and navigation */


 a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
 a img {border: 0;}

 nav ul,  nav li { 
	margin: 0; 
	list-style:none; 
	display:inline;
}



/* controls */


 button,  input,  select { 
	margin: 0;
	vertical-align:middle; 	
}

 textarea { margin: 0;}




/*	
 * Typography
 * ==========================
 */	



/* Headers */


 .gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

 .huge,  h1 {
	font-weight: 400;
	
}

 .large,  h2 {
	font-size: 42px;
	font-weight: 400;
	line-height: 48px;
}

 .big,  h3 {
	font-size: 26px;
	line-height: 36px;
}



/* Lists */


 ul,  ol 	{ margin-left: 1.8em; }
 ol 		{ list-style-type: decimal; }


/* Normal content */


 .normal, body,  select,  input,  textarea {
	font: 16px/24px Helvetica, Arial, sans-serif;

}

 small,  .small {
	font-size: 13px;
	line-height: 18px;
} 

 .tiny {
	font-size: 10px;
	line-height: 13px;
}

 sub { vertical-align: sub; font-size: smaller; }
 sup { vertical-align: super; font-size: smaller; }


 strong,  .strong,  th { font-weight: bold; }
 td,  td img { vertical-align: top; } 

 ruby rt { text-align: left; }




/* Monospaced content */


 pre,  code,  kbd,  samp { font-family: monospace, sans-serif; }

 pre { 
  padding: 15px; 
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
}




/* Ornaments */


 hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
 abbr[title],  dfn[title] { border-bottom:1px dotted; cursor:help; }
 blockquote,  q { quotes:none; }
 blockquote:before,  blockquote:after,
 q:before,  q:after { content:''; content:none; }




/* Adumbrations */


 ins { background-color:#ff9; color:#000; text-decoration:none; }
 del { text-decoration: line-through; }
 mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }




/*
 *  User Interaction
 * ==========================
 */





/* Links */


 a:hover, a:active 		{ outline: none; }
 a, a:active, a:visited 	{ color: #607890; }
 a:hover					{ color: #036; }
 a:link 					{ -webkit-tap-highlight-color: rgb(255,255,0); }





/* Selections */


 *::selection 	 	  {background: rgb(255,255,0); text-shadow:none;}
 *::-moz-selection   {background: rgb(255,255,0); text-shadow:none;}
 img::selection 	  {background: transparent;}
 img::-moz-selection {background: transparent;}





/*
 * Controls and Forms
 * ==========================
 */


/* align checkboxes, radios, text inputs with their label */
 input[type="radio"]    { vertical-align: text-bottom; }
 input[type="checkbox"] { vertical-align: bottom; }


/* hand cursor on clickable input elements */
 label,  input[type=button],  input[type=submit],  button { cursor: pointer; }


/* colors for form validation */
 input:valid,  textarea:valid   {  }
 input:invalid,  textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px rgba(200,200,255,0.8); 
 -webkit-box-shadow: 0px 0px 5px rgba(200,200,255,0.8); 
         box-shadow: 0px 0px 5px rgba(200,200,255,0.8); 
}
 .no-boxshadow input:invalid, 
 .no-boxshadow textarea:invalid { background-color: #f0dddd; }





/*
 *	Block elements
 *  ==========================
 */ 





/* the foundation */ 


html { overflow-y: scroll; }
body { -webkit-tap-highlight-color: rgb(255,255,0); }







/* 
 * IE workarounds 
 * ==========================
 */





/* make buttons play nice in IE */

button {  width: auto; overflow: visible; }




/* Don't even ask. */

 pre {word-wrap: break-word;}




/* remove scroll bars from textarea in IE */ 

 textarea { overflow: auto; } 



/* 
 * Non-semantic helper classes 
 * ==========================
 */





/* for image replacement */

 .ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }


/* Hide for both screenreaders and browsers */

 .hidden { display: none; visibility: hidden; } 


/* Hide only visually, but have it available for screenreaders  */

 .visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }


/* Hide visually and from screenreaders, but maintain layout */

 .invisible { visibility: hidden; }



/* Clearfix */


 .clearfix:before,  .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

 .clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
 .clearfix { zoom: 1; }





/* Th-th-th-that's all, folks! */
