@media only screen and (max-width: 1399px) {
	#logon {
		width: 160px;
		height: 160px;
		left:68%;
		top: 55px;
		z-index:0;
	}
	
	#logon:before {
		font-size: 150px;
		color: rgba(0,50,50,0.02) ;
		content:'j';
		width: 160px;
		height: 160px;
		left: -7px;
	}
	
	
	#brooke, #alethia {
		position:relative;
		top:0px;
		left:0px;
	}
	
	#leftAbout .ad-hoc-vertical-spacer {height:0.5em;}
	.glassContent {display:none !important;}

}

@media only screen and (max-width: 1250px) {
	

	
}


@media only screen and (max-width: 1183px) {

	#glass-background { top: 10px;}
	#glass:before { top: -20px; }

	#logon {
		width: 140px;
		height: 140px;
		left:63%;
		top: 20px;
			
	}
	
	
	#logon:before {
		font-size: 130px;
		color: rgba(0,50,50,0.02) ;
		width: 140px;
		height: 140px;
		left: -7px;
	}

.	loseable { display: none; }
		

	#glass > section:after, #glass > section:before {
					vertical-align:  50%;
					font-size: 150px !important;
					position:absolute;
					top: -30px;			  
	}

	

	
		
	#nav h2, #nav a  {
		font-size: 1.2em;
		line-height:normal;
	}
	
	#glass h1 {
		font-size: 3em;
		line-height: 1.4;
		padding-left: 0px;
	}
	
	#glass > section > hgroup > h2 {
		margin-top: -1em;
		font-size: 16pt;
	}
	
	#glass > section > hgroup {
		padding-left: 0px;
	}


	#glass {
		margin-top: 10px ;
		max-height: 160px ;
		min-height: 100px ;
		padding-top: 20px ;
		padding-bottom: 0px ;
	}
	
	.illustration-left, .illustration-right {
		max-width: 36px;
	}
	
	#PostFold h1, #PostFold h2, #PostFold h3 {
		font-size: 1.4em ;
	}
	
	#PostFold p {
		line-height: 1 ;
	}
	
	#leftAbout .ad-hoc-vertical-spacer {height:0.4em;}
	


}

@media only screen and (max-width: 850px) {
	#middleContent  { display:none !important;}
	#leftContent, #rightContent { width: 50%;}
	#leftAbout .ad-hoc-vertical-spacer {height:0.3em;}

	
}

@media only screen and (max-width: 780px) {
	 		#leftAbout .ad-hoc-vertical-spacer {height:0.2em;}

  	body {		background-attachment: scroll !important;	}

	#glass hgroup {
		min-width: 20px;
		width: auto;
	}  
  #glass > section > hgroup > h1 {
  	font-size: 24pt;
  }
  #glass > section > hgroup > h2 {
  		font-size: 14pt;
  	 }
  	 
 	#logon {
 		
		background-position: 05% 10%;
		position:relative !important; 
		top: 0px;
		left: 0px;
		background-size: 80%;
		overflow:visible;
		width: 50px;
		
			
	}
	
	#logon:before {
		content: '';
	}

}



@media only screen and (max-width: 731px)
{
	/* TODO decrease #glass h1 line-height 
			 hide tagline
			 decrease size of #PostFold h2, h3
			 shrink illustrations to 24px max
			  */ 
	#leftAbout .ad-hoc-vertical-spacer {height:0.1em;}
		  
  #glass > section:before,
  #glass > section:after {
  	font-size: 64px;
  	top: -50px !important;
  }

  
	#glass > section:before { 
								left: 05%;

	}
	
	#glass > section:after {
								left:87%;
	}
	
	#glass hgroup, #glass nav { margin-top: 10px !important;}
  	#logon { background-image: url('../media/images/logo.png'); background-position: 0px 25px;}
	

	#PostFold h1, #PostFold h2, #PostFold h3 {
		letter-spacing: normal !important;
	} 
	

	.illustration-left, .illustration-right {
		max-width: 16px !important;
	}
	
	.notiny { display: none !important; }
	#glass {
		margin-top: 10px !important;
		max-height: 130px !important;
		min-height: 70px !important;
		padding-top: 10px !important;
		padding-bottom: 0px !important;
	}
}


@media only screen and (max-width: 550px) {
	/*logo doesn't display reliably below this res,so hide it */
	#logon { display: none !important;}
}

@media only screen and (max-width: 410px) {
	/* no fleurons below this resolution */
	
  #glass > section > hgroup > h1 {
  	font-size: 20pt;
  }
  .ad-hoc-vertical-spacer { display: none; }
  
  #glass > section > hgroup > h2 {
  		font-size: 12pt;
  	 }
  	 
  	 #logon {
  	 	margin-right: -10px;
  	 }
	
	#glass hgroup { margin: 0; padding: 0; position: relative; left: -20px;}
	#glass > section:before { display:none;}
	#glass > #nav { margin: 0; padding: 0;  }
	#glass > section:after { display:none; }
	#glass  #nav {
		margin: 1px 0px 5px 2px; 
		width: 100px;
	}
	

	#PostFold > section {
		float:none !important;
		width:100% !important;
	}
	
	/* TODO find out why display:none isn't enough here */
	#footer, .footer { display: none !important;}
	
	body { 
		background-image: url('../media/images/narrowBackground.jpg') !important;
	}
	
	#glass {
		top: 5px !important; 
		opacity: 0.95 !important;
	}
	
	nav h2 { 
		max-width:64px !important;
		text-align:left !important;
	}
	

}


/*	Overrides for iPhone 4 and other high device-pixel-ratio devices */


@media 	only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min-device-pixel-ratio: 2) {
	/* put iPhone4-specific stuff here (if any) */
}





/*	Overrides for print	*/	


@media only print {
	* { background: transparent !important; color: #444 !important; text-shadow: none !important; }
	#wrap a, a:visited { color: #444 !important; text-decoration: underline; }
	#wrap a:after { content: " (" attr(href) ")"; } 
	#wrap abbr:after { content: " (" attr(title) ")"; }
	#wrap .ir a:after { content: ""; }  /* Don't show links for images */
	#wrap pre, #wrap blockquote { border: 1px solid #999; page-break-inside: avoid; }
	#wrap thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
	#wrap tr, #wrap img { page-break-inside: avoid; }
	#wrap p, #wrap h2, #wrap h3 { orphans: 3; widows: 3; }
	#wrap h2, #wrap h3{ page-break-after: avoid; }
}

@page { margin: 0.5cm; }

