
@import(util)

fontsrc(stub)
 src url('/font/' + stub + '.woff') format('woff'), url('/font/' + stub + '.ttf') format('ttf')

@font-face
  font-family 'FiraSans'
  font-style normal
  font-weight 400
  fontsrc('FiraSans-Regular')

@font-face
  font-family 'FiraSans'
  font-style italic
  font-weight 400
  fontsrc('FiraSans-RegularItalic')

@font-face
  font-family 'FiraSans'
  font-style normal
  font-weight 300
  fontsrc('FiraSans-Light')

@font-face
  font-family 'FiraSans'
  font-style italic
  font-weight 300
  fontsrc('FiraSans-LightItalic')

@font-face
  font-family 'FiraSans'
  font-style normal
  font-weight 700
  fontsrc('FiraSans-Medium')

@font-face
  font-family 'FiraSans'
  font-style italic
  font-weight 700
  fontsrc('FiraSans-MediumItalic')

@font-face
  font-family 'FiraMono'
  font-style normal
  font-weight 400
  fontsrc('FiraMono-Regular')

@font-face
  font-family 'FiraMono'
  font-style italic
  font-weight 400
  fontsrc('FiraMono-RegularItalic')

@font-face
  font-family 'FiraMono'
  font-style normal
  font-weight 300
  fontsrc('FiraMono-Light')

@font-face
  font-family 'FiraMono'
  font-style italic
  font-weight 300
  fontsrc('FiraMono-LightItalic')

@font-face
  font-family 'FiraMono'
  font-style normal
  font-weight 700
  fontsrc('FiraMono-Medium')

@font-face
  font-family 'FiraMono'
  font-style italic
  font-weight 700
  fontsrc('FiraMono-MediumItalic')
