/* site.styl - put your styles here */

body
  background-image: png(greyzz)


body > *
  max-width 800px
  margin 0 auto

main
  padding 2em


.white
  background-color white

.black
  background-color black
  color white


