/* site.styl - put your styles here */


@import 'nib'
@import(util)

body
  background-image: url(/stethoscope.jpg)
  background-size: cover;
  background-repeat: no-repeat;




body
  & > *
    max-width 800px
    margin 0 auto
    padding 1em
    &:first-child
      border-radius: top 4px
    &:last-child
      border-radius: bottom 4px



header
  margin-top 128px

main
  padding 2em


.white
  background-color white

.black
  background-color black
  color white


li.help
  display inline-block
  margin-left auto


footer.footer
  opacity: 0.95
