/* site.styl - put your styles here */

@import(util)

body
  background-image: url(/stethoscope.jpg)
  background-size: auto 100%;



body > *
  max-width 800px
  margin 0 auto
  padding 1em


header
  margin-top 128px

main
  padding 2em


.white
  background-color white

.black
  background-color black
  color white


