// /* MIT License, (c) 2013  Elizabeth Marston */

header.area.topbar#topbar(role='banner')
    block header
      h1.logo  UND↺WARE
      em.slogan
        a(href='/what/') (WTF?)
      include nav
      block navi
