<!--[if HTML5]>--> <!--"Modern web browsers and IE10: use feature detects and conditionally load workarounds!"-->
	<script type="text/javascript" charset="utf-8">
		Modernizr.load({
			test: Modernizr.cssvwunit && Modernizr.cssvhunit,
			nope:  "<?= $this->getStyleSheet('style/novunit.css') ?>"
		});
		   /* test for touch events, not touch devices; beware false
		    * positives (don't load anything that would break UX for a
		    * false positive */
	        Modernizr.load({
		     test: Modernizr.touch,
		     yep: "<?= $this->getStyleSheet('style/touch.css') ?>"
		});

	</script>
<!--<![endif]-->

<!-- Next stanza says, "oldIEs: load a special stylesheet that hides things you don't understand!"
     HACK HACK HACK; but it's oldIE, what do you expect? -->
<!--[if lt IE 9]>
	<link href='<?= $this->getStyleSheet('style/old-ie.css');?>' rel='stylesheet' type='text/css' charset="utf-8">
<![endif]-->

 <!--[if IE]><div style='clear: both; padding:0; position:absolute; right:0; z-index:1'><a href="/ie-sunset-notice.html"><img src="/raster/iecountdown.png" border="0" height="83" alt="" /></a></div><![endif]-->
