!!! 5
block vars
  - var bodyclass = null;
//if lt IE 7
    html(lang='en',class='heirloom ie ie6',itemscope,itemtype="http://schema.org/Article")
//if IE 7
    html(lang='en',class='heirloom ie ie7',itemscope,itemtype="http://schema.org/Article")
//if IE 8
    html(lang='en',class='heirloom ie ie8',itemscope,itemtype="http://schema.org/Article")
// [if gt IE 8] <!
html(lang='en',class='modern-browser',itemscope,itemtype="http://schema.org/Article")
  // <![endif]
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="apple-mobile-web-app-capable",content="yes")
      meta(name="apple-mobile-web-app-status-bar-style",content="black")
      meta(name="viewport",content="initial-scale=1, maximum-scale=1.5, user-scalable=1")
      meta(name="web_author",content="<beth@undoware.ca>")
      meta(name="generator",content="http://wintersmith.io/")
      meta(name="language",content="English")
      meta(name="dc.language",content="en-CA")
      include meta
      link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300,300italic',charset='utf-8')
      link(rel='stylesheet',href='/style/main.css',charset="utf-8")
      link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', charset='utf-8')
      link(rel="icon",type="image/png",sizes="12x12",href="https://undoware-cdn.appspot.com/raster/icon-12.png")
      link(rel="icon",type="image/png",sizes="16x16",href="https://undoware-cdn.appspot.com/raster/icon-16.png")
      link(rel="shortcut icon",type="image/png",sizes="16x16",href="https://undoware-cdn.appspot.com/raster/icon-16.png")
      link(rel="icon",type="image/png",sizes="32x32",href="https://undoware-cdn.appspot.com/raster/icon-32.png")
      link(rel="icon",type="image/png",sizes="96x96",href="https://undoware-cdn.appspot.com/raster/icon-96.png")
      link(rel="icon",type="image/png",sizes="128x128",href="https://undoware-cdn.appspot.com/raster/icon-128.png")
      link(rel="apple-touch-icon",type="image/png",sizes="57x57", href="https://undoware-cdn.appspot.com/raster/icon-57.png")
      link(rel="apple-touch-icon",type="image/png",sizes="72x72",href="https://undoware-cdn.appspot.com/raster/icon-72.png")
      link(rel="apple-touch-icon",type="image/png",sizes="114x114",href="https://undoware-cdn.appspot.com/raster/icon-114.png")
      link(rel="apple-touch-icon",type="image/png",sizes="144x144",href="https://undoware-cdn.appspot.com/raster/icon-144.png")
      link(rel="apple-touch-icon",href="https://undoware-cdn.appspot.com/vector/icon.svg")
      link(rel="image_src",href="https://undoware-cdn.appspot.com/vector/icon.svg")
      link(rel="icon",href="https://undoware-cdn.appspot.com/raster/icon.png")
      link(rel="favicon",href="https://undoware-cdn.appspot.com/raster/icon.png")
      link(rel="profile",href="http://microformats.org/profile/hcard")
      link(rel="sitemap",href="https://undoware.ca/sitemap.xml")
      <!-- The strategy is to load as few things as possible synchronously, but syncload what is needed to stop FOUC. -->
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js",type="text/javascript",charset="utf-8")
      script(src="https://undoware.ca/stack/modernizr-custom.min.js",type="text/javascript",charset="utf-8")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.6/require.min.js",type="text/javascript",charset="utf-8",data-main="/stack/app.js")

  body(class='ng-scope')
    include ie.html
    div#page
      header.area.topbar#topbar(role='banner')
          block header
            h1.logo  UN⌘↺WARE
            em.slogan
              a(href='/what/') Perusing the Noosphere, Pursuing UX
            include nav
            block navi

      main.area.main#content(role='main')
        header.area(role='heading')
          block content-header
        div.content-wrap
          block content
        footer.area
          block content-footer
    //command zee-bra, get it?
    div#zebra
    footer.area.footer(role='complementary')
      block footer
        include vcard
    include track.html
