!!! 5
html(lang='en',itemscope,itemtype="http://schema.org/Article")
  head
    block head
      include meta
      include link
      include script

  body(class='ng-scope')

    // ugh, but thank goodness for this file
    include ie.html
    //command zee-bra, get it? Just some decoration
    div#zebra

    //the main event
    div#page

      include header

      main.area.main#content(role='main')
        header.area(role='heading')
          block content-header
        div.content-wrap
          block content
        footer.area
          block content-footer

      include footer
