
link(rel="sitemap",href="https://undoware.ca/sitemap.xml")
link(rel="profile",href="http://microformats.org/profile/hcard")
link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300,300italic',charset='utf-8')

