meta(name="description",content="undoware.ca")
meta(name="name",content="undoware.ca")
meta(name="robots",content="all")
meta(name="copyright",content="undoware")
meta(name="web_author",content="Elizabeth Marston")
meta(name="generator",content="http://wintersmith.io")
meta(name="language",content="English")
meta(name="dc.language",content="en-CA")
meta(name="dc.source",content="https://undoware.ca/")
meta(name="dc.relation",content="https://undoware.ca/")
meta(name="dc.title",content="undoware")
meta(name="dc.subject",content="Usability")
meta(name="dc.description",content="")
meta(name="dc.keywords",content="")
meta(name="news_keywords",content="")
meta(name="reply-to",contents="info@undoware.ca")
