

block prepend navi
  nav
    ul
      each location, location_name in locals.nav
        li
          a(href=location)= location_name
      li
        <!-- don't forget title attributes, or icon fonts are accessibility nightmare -->
        a(href='https://twitter.com/undoware',title='on Twitter')
         i.icon-twitter &nbsp;&nbsp;&nbsp;
        a(href='https://www.github.com/undoware/',title='on GitHub')
         i.icon-github-alt &nbsp;&nbsp;&nbsp;
        a(href='https://plus.google.com/u/0/101667909136924896677/posts/p/pub',title='on Google Plus')
         i.icon-google-plus &nbsp;&nbsp;&nbsp;
        a(href='/feed.xml',title='RSS Feed')
         i.icon-rss &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='tel:+17783743355',title='Call me')
         i.icon-phone &nbsp;&nbsp;&nbsp;
        a(href='mailto:beth@undoware.ca',title='Email me')
         i.icon-envelope &nbsp;


