// navigation.jade

nav.ink-navigation.vspace
   ul.horizontal.menu.rounded.shadowed.vspace(class=locals.color.class.menu.bar)
     each n in locals.sitemap
        li(class=n.menu.class)
          a(href=n.href)=n.menu.name
