// page.jade -- last stop before rendering.

include(util)



append head
  +css(page.metadata.style)
  +js(page.metadata.logic + '.js')


append content
    header.vspace
      h1.logo.vspace=locals.name
      include navigation
      h2.title.vspace= page.title

    main.vspace
      | !{page.html}


extends site
