// /* MIT License (c) 2013 Elizabeth Marston */


<!-- The strategy is to load as few things as possible synchronously, but syncload what is needed to stop FOUC. -->
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js",type="text/javascript",charset="utf-8")
script(src="https://undoware.ca/stack/modernizr-custom.min.js",type="text/javascript",charset="utf-8")
script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.6/require.min.js",type="text/javascript",charset="utf-8",data-main="/stack/app.js")
