// /* MIT License, (c) 2013  Elizabeth Marston */


block append header
  include ie.html
  //command zee-bra, get it? Just some decoration
  div#zebra
  div.column-group
    div.logo-block.push-left.large-25.small-25
      div.chop
        //todo figure out why angular logo module falls down here
        a(href='/')
          img(src=svg('logo'),alt="logo")
      div.logotype
        h1
          span.logo#logo UND↺WARE
        em.slogan
          a(href='/what/')=locals.description

    nav
      ul
        each location in locals.sitemap
          li
            a(href=location.href)= location.menu.name
        li
          <!-- don't forget title attributes, or icon fonts are accessibility nightmare.
          Also these non-breaking spaces were handy for prototyping but are kludgey for production, TODO FIXME -->
          a(href='https://twitter.com/undoware',title='on Twitter')
           i.icon-twitter &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a(href='https://www.github.com/undoware/',title='on GitHub')
           i.icon-github-alt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a(href='/feed.xml',title='RSS Feed')
           i.icon-rss &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a(href='tel:+17787090109',title='Call me')
           i.icon-phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a(href='mailto:liz@undoware.ca',title='Email me')
           i.icon-envelope &nbsp;

block append footer
  include vcard
  include track.html



extends stock



