doctype html
html(lang=locals.language.code,itemscope,itemtype="http://schema.org/Article")
  head
    block head
    include logic
    include meta
    include link
    include icon
    include style

  - if (!page.metdata.class) { page.metadata.class = ''; }
  body.ink-grid#body(class=page.metadata.class)
    div#page
      header.area.header(role='heading')
        block header
      main.area.main(role='main')
        block content
      footer.area.footer(role='complementary')
        block footer
