// style.jade


include util

//fonts
link(href='https://fonts.googleapis.com/css?family=Glegoo',rel='stylesheet',type='text/css',charset="utf-8")
+css('fira-font')

//style
+css('ink-min')
+css('fira-style')
+css('stock')
