

- function cdn(f) {
-   var cdnr = ('cdn' in locals && !!locals.cdn) ?  locals.cdn : locals.base;
-   var path = f.split('://');
-   return (path) ? f : cdnr + f;
- }

- function js(fr) {
-  var fn = fr ;
- return cdn(fn);
- }

mixin js(fr)
  if (fr && fr != 'undefined.js')
    script(src=js(fr),type="text/javascript",charset="utf-8")


- function css(fr) {
-  var fn = fr + '.css';
- return cdn(fn);
- }


mixin css(fr)
  if (fr && fr != '.css')
    link(href=css(fr),rel='stylesheet',type='text/css',charset="utf-8")

- function viewport(a) {
- return  ' initial-scale=' + a.initial
-         ',maximum-scale=' + a.max
-         ',user-scalable=' + a.user;
- }

- function woff(fr) {
-  var fn = '/font/' + fr + '.woff';
- return cdn(fn);
- }


- function ttf(fr) {
-  var fn = '/font/' +  fr + '.ttf';
- return cdn(fn);
- }


-function raster(x) {
-return cdn('/raster/' + x);
-}

-function vector(x) {
-return cdn('/vector/' + x);
-}

-function png(x) {
-return raster(x + '.png');
-}

-function jpg(x) {
-return raster(x + '.jpg');
-}

-function svg(x) {
-return cdn(x + '.svg');
-}
