

- function cdn(f) {
-   var cdnr = ('cdn' in locals && !!locals.cdn) ?  locals.cdn : locals.base;
-   var path = f.split('://');
-   return (path) ? f : cdnr + f;
- }

- function js(fr) {
-  var fn = fr ;
- return cdn(fn);
- }

mixin js(fr)
  script(src=js(fr),type="text/javascript",charset="utf-8")


- function css(fr) {
-  var fn = fr + '.css';
- return cdn(fn);
- }


mixin css(fr)
  link(href=css(fr),rel='stylesheet',type='text/css',charset="utf-8")


- function jpg(fr) {
-  var fn = fr + '.jpg';
- return cdn(fn);
- }

- function png(fr) {
-  var fn = fr + '.png';
- return cdn(fn);
- }

- function svg(fr) {
-  var fn = fr + '.svg';
- return cdn(fn);
- }


- function viewport(a) {
- return  ' initial-scale=' + a.initial
-         ',maximum-scale=' + a.max
-         ',user-scalable=' + a.user;
- }

- function woff(fr) {
-  var fn = '/font/' + fr + '.woff';
- return cdn(fn);
- }


- function ttf(fr) {
-  var fn = '/font/' +  fr + '.ttf';
- return cdn(fn);
- }
