

- function cdn(f) {
-   var cdnr = ('cdn' in locals && !!locals.cdn) ?  locals.cdn : locals.base;
-   var path = f.split('://');
-   return (path) ? f : cdnr + f;
- }


- function viewport(a) {
- return  ' initial-scale=' + a.initial
-         ',maximum-scale=' + a.max
-         ',user-scalable=' + a.user;
- }


- function js(fr) {
-  return typath(fr,'js');
- }

- function requirejs(fr) {
-  return locals.loader.src + '.js';
- }


mixin js(fr)
  if (fr && fr != 'undefined.js')
    script(src=js(fr),type="text/javascript",charset="utf-8")

mixin requirejs()
  script(src=requirejs(),type="text/javascript",charset="utf-8")


- function css(fr) {
-  return typath(fr,'css');
- }

mixin css(fr)
  if (fr && fr != '.css')
    link(href=css(fr),rel='stylesheet',type='text/css',charset="utf-8")


// deprecated
-function raster(type) {
-return cdn('/raster/' + x);
-}

// deprecated
-function vector(x) {
-return cdn('/vector/' + x);
-}

-function typath(x,typ) {
-return cdn(locals.path[typ] + '/' + x + '.' + typ);
-}


-function png(x) {
-return typath(x,'png');
-}

-function jpg(x) {
-return typath(x,'jpg');
-}

-function svg(x) {
-return typath(x,'svg');
-}

-function woff(x) {
-return typath(x,'woff');
-}

-function ttf(x) {
-return typath(x,'ttf');
-}

-function eot(x) {
-return typath(x,'eot');
-}

