h1
  a.tel(href="tel:+17783743355") +1&nbsp;(778)&nbsp;374&nbsp;3355
p &copy; #{ new Date().getFullYear() }&nbsp;
  span.org
    a.email(href='mailto:beth@undoware.ca') undoware
div.adr
  span.locality Vancouver
  ,&nbsp;
  span.region British Columbia
  ,&nbsp;
  span.country-name Canada
