ul.vcard#vcard
  li.tel +1-778-374-3355
  li.org Undoware
  li.fn  Elizabeth Marston
  li.url https://undoware.ca/
  li.email beth@undoware.ca
  li
   ul.adr
    li.locality Vancouver
    li.region British Columbia
    li.country-name Canada

