/*
 * main.styl -> main.css via github://learnboost/stylus (node_modules/stylus/bin/stylus)
 * reset.styl adapted from html5doctor.com Reset Stylesheet v1.6.1 http://richclarkdesign.com
 * TODO: make all these .styl files a lot more organized and simple. Cruft buildup!
 * TODO: make this all less !important
 */

/* Load site defaults (colours fonts etc. TODO find new name for this file) */
@import(thc)

/* Load site defaults (colours fonts etc. TODO find new name for this file) */
@import(reset)

/* Some sugar we use to load images from Content Distribution Network */
@import(cdn)

/* Goes with 'vcard.jade'. Stylesheet says to hide the div because, we're only after the metadata. */
@import(vcard)

/* Load standard CSS, wrapped in a screen media query */
@import(screen)

/* Load media query for widescreens */
@import(widescreen)

/* Load media query for narrow displays (mobile) */
@import(mobile)

/* Load print stylesheet  */
@import(print)
