/*
 * main.styl -> main.css via github://learnboost/stylus (node_modules/stylus/bin/stylus)
 * reset.styl adapted from html5doctor.com Reset Stylesheet v1.6.1 http://richclarkdesign.com
 * TODO: make all these .styl files a lot more organized and simple. Cruft buildup!
 */



column-count(x)
  column-count x
  -moz-column-count x
  -webkit-column-count x

text-shadow()
  text-shadow: arguments
  -webkit-text-shadow: arguments
  -moz-text-shadow: arguments
  -ms-text-shadow: arguments
  -o-text-shadow: arguments

box-shadow()
  box-shadow: arguments
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  -ms-box-shadow: arguments
  -o-box-shadow: arguments

@import(vcard)

@media screen
  #bra
  #panties
    display: block
    background-size: 96px auto
    background-repeat: no-repeat
    background-position: 64px 0px
  #bra
    padding-top: 48px
    background-image:  url(https://undoware-cdn.appspot.com/vector/bra.svg)
  #panties
    padding-top: 32px
    background-image: url(https://undoware-cdn.appspot.com/vector/panties.svg)

  body
    background-color thc-background-color
  #page
    min-height: 256px;
    min-width: (nw=600px) + (ns=256px)
    max-width: ((xw=800px) + ns)
    position absolute
    top 10vh
    left 5vw
    thc-font()
    background-color: transparent
    color thc-highlight-color
    .required { color: thc-action-color !important }
    .lhs
    a
      color: thc-accent-color
      text-decoration: none
      transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out
      &:hover
      &:active
      &:focus
        text-decoration: none;
        text-shadow 0px 0px 4px thc-action-color
        color: white
    margin 0 auto
    .area
      margin 30px
    .area.topbar
      thc-headline-font()
      font-size: 16pt;
      margin: 0;
      width: 100%
      min-width: 100%
      em  { margin: 0; display: block; font-size: 12pt; padding: 0; }
      h1, h2, h3, h4, h5
        thc-headline-font()
        padding: 0;
        margin: 0;
        display: inline-block;
      h1  { font-size:21pt; text-transform: uppercase}
      h2  { font-size:16pt; }
      h3  { font-size:14pt; }
      h4  { font-size:12pt; }
      h5  { font-size:10pt; }
      h5  { font-size:9pt; }
      .logo
      .slogan
        display: block
        background-size: 48px auto
        background-repeat: no-repeat
        background-position: 64px 0px
      .logo
        text-shadow: 0px 0px 3px thc-action-color
        /*padding-top: 48px
        ackground-image:  url(https://undoware-cdn.appspot.com/vector/bra.svg)*/
        a
          &:hover
          &:active
          &:focus
            text-shadow: 0px 0px 5px thc-action-color
      .slogan
        /*padding-top: 32px
        background-image: url(https://undoware-cdn.appspot.com/vector/panties.svg)*/
        font-size: 10pt
      nav > ul
         font-size: 13pt
         .twitter-follow-button
           position: relative
           top: 4px
         position: absolute
         right: -3vw
         top: -1em
         text-indent: 0;
         li
           padding: 1em;
           display: inline-block
           &.nav-selected
             font-weight: 700;
             li
               font-weight: 500;
    .area.main
      div.beforeafter
      div.balinks
          margin: 0 auto
      img
        border-radius thc-corner-radius
        box-shadow 1px 1px 1px #AAA, -1px -1px 3px #000
      hr
        width: 10%
        border-width: 1px
        border-style: solid
        border-color thc-action-color
      p a:after, li a:after
        color: #777
        content: '*'
      article footer
        color thc-action-color !important
        text-align right
      ul
        li
          margin-bottom: 0.7em
        padding-left: 1em
        list-style: none
        li:before
          content: ''
          padding-right: 0.2em
      margin: 2em 0 0 0;
      text-align: justify
      min-width: nw;
      max-width: xw;
      line-height: 1.4em
      word-wrap break-word
      padding-left: 4em;
      h1, h2, h3
        thc-headline-font()
      h1 { font-size: 21pt; }
      h2 { font-size: 18pt; font-weight: 300; margin: 1em auto; }
      h3 { font-size: 14pt; margin: 0.5em auto; }
      h4 { font-size: 14pt; font-style: italic; font-weight: 300; margin: 0.5em auto; color: #A0A0A0}
      h5 { font-size: 14pt; font-weight: 300; margin: 1em auto; }
      h6 { font-size: 14pt; font-weight: 300; margin: 1em auto; }
      p
        font-size: 16pt;
        text-indent: 0.5em;
        padding: 5px 10px 0 0 ;
        margin: 0.5em;
        text-align: justify;
      article > section > p:first-child
        text-indent: 0;
        &:first-letter
            float: left;
            font-size:2.8em;
            color: thc-action-color;
            text-shadow: 1px 1px 1px #77A, -1px -1px 1px #000
            margin: 0.05em 0 0 -0.1em;
            padding: 0.1em;
            text-transform: uppercase;
    .area.footer
      font-size: 8pt;
      h1 { font-size: 14pt; }
      h2 { font-size: 12pt; }
      h3 { font-size: 10pt; }
      h4 { font-size: 8pt;  }
      h5 { font-size: 7pt;  }
      h6 { font-size: 6pt;  }
      width 100%
      padding 0
      margin 0
      clear both
    input
      margin 5px
      &:hover
        color: #FFFFFF
    textarea
      border-radius(thc-corner-radius)
    input, textarea
      border none
      background-color thc-accent-color
      color thc-background-color
  li.archive-entry
    margin-left: 1em
  #zebra
    background-image url(https://undoware-cdn.appspot.com/vector/zebra.svg)
    background-repeat: no-repeat;
    background-size 86px 160px
    min-width 86px
    min-height 160px
    position: fixed;
    right: 0;
    bottom: 0;
  figure
    display: block
    max-width: 728px
    min-width: 128px
    margin: 0 auto
    figcaption
    img
      display: block
      width: 100%
    figcaption
      text-align: right
      font-size: 0.5em
  article.article section.content > *:last-child:after
    content: ' ⌘'
    display block
    text-align right
    color: thc-action-color
  li.year
    border-left: 1px solid thc-action-color
  li.archive-entry
    line-height: 2em
  section.archive li:before
    content: '' !important
  menu.nav
    text-align center
    font-size: 2em



@media screen and (max-width: 800px)
  margin: 3em auto
  #page
    width: 100% !important
    max-width: 100% !important
    padding: 1em !important
    min-width: 0 !important
    margin: 0 !important
    *
      position:static !important;
      min-width:0     !important;
    .area
      max-width: 100% !important
    .area.main
      width: (amw=70%) !important
      min-width: 0 !important;
      max-width:amw !important
      position: inherit
      padding: 1em !important
    .area.topbar li
      padding-left: 0 !important;
      padding-right: 1em !important;
  #zebra
    display: none !important
    visibility: hidden !important
  main footer.area
    width: 100%
    display: block
    margin: 0
    padding:0
    text-align center
    menu
      padding: 0
      text-indent none
      display inline-block
      a
        font-size: 24pt
        margin-right: 1em


@media (screen and max-width: 550px)
  #page .nav > li
    display:block !important

@media print
  body
    background-color white
    font: Helvetica, Arial, Verdana, sans-serif
    font-size: 11pt
  a
    color: #000
    &:hover
    &:active
    &:link
      color: #000
  p
  a
    font: Helvetica, Arial, Verdana, sans-serif
    word-wrap: break-word
    text-decoration: none
  a[href^="http://"]:after
  a[href^="https://"]:after
    vertical-align:top
    content: attr(href)
    font-size: 6pt
    font-weight: 300
    color: #AAA
  article > footer
    display: none

  header.topbar.area.topbar
  a[href^='#']:after
    display: none
  h1, h2, h3, h4, h5, h6
    font-weight: 900
    font: Helvetica, Arial, Verdana, sans-serif
  h1
    font-size: 18pt
  h2
    font-size: 16pt
  h3
    font-size: 14pt
  h4
    font-size: 12pt
  h5
    font-size: 11pt
  h6
    font-size: 10pt
  @page
    margin: 1in;
