

html #page
  padding: 2em

html #page ul.nav
  padding: 2em
  display: inline-block !important
  position: static !important



html body #me
  width: (mw=128px);
  height: (mw*2.3);
  background-size: contain;
  z-index: inherit
  bottom: 0%
  right: 0%



