/* MIT License, (c) 2013 Elizabeth Marston */



#page
  position absolute
  top 10vh
  left 5vw
#bra
#panties
  display: block
  background-size: 96px auto
  background-repeat: no-repeat
  background-position: 64px 0px
#bra
  padding-top: 48px
  background-image:  url(https://undoware-cdn.appspot.com/vector/bra.svg)
#panties
  padding-top: 32px
  background-image: url(https://undoware-cdn.appspot.com/vector/panties.svg)
#zebra
  position: fixed;
  left: -5px;
  top: 0;
  min-width 86px
  min-height 160px
  z-index: -1;
  background-image: url(https://undoware-cdn.appspot.com/vector/zebra.svg)
  background-repeat: no-repeat;
  background-size 86px 160px
.area
  margin 30px
  a
    text-decoration: none
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out

  &.header
    overflow: hidden
    thc-headline-font()
    font-size: 16pt;
    margin: 0;
    width: 100%
    em  { margin: 0; display: block; font-size: 12pt; padding: 0; }
    h1, h2, h3, h4, h5
      thc-headline-font()
      font-weight: bold;
      color: inherit
      padding: 0;
      margin: 0;
      display: inline-block;
    h1  { font-size:21pt; text-transform: uppercase}
    h2  { font-size:16pt; }
    h3  { font-size:14pt; }
    h4  { font-size:12pt; }
    h5  { font-size:10pt; }
    h5  { font-size:9pt; }
    .logo
    .slogan
      display: block
      background-size: 48px auto
      background-repeat: no-repeat
      background-position: 64px 0px
      font-weight: bold
      a
        &:hover
        &:active
          text-shadow: 0px 0px 3px thc-action-color
          color: thc-highlight-color

    .logo
      margin-top: 1em
      letter-spacing: 0.1em
      text-shadow: 0px 0px 3px #FFF !important
      h1
        a
          color: thc-action-color
    .slogan
      font-size: 8pt
      a
        color: #A0A0A0
    .zcommand
      min-height: 1em
      min-width: 1em
      background-image: url(https://undoware-cdn.appspot.com/vector/logo-blue.svg)
      background-repeat: no-repeat
      background-size: 1em 1em
    nav
      a
        font-weight: bold
      a
        color: thc-action-color
        &:link
        &:visited
          color: thc-action-color
          text-shadow: none
        &:hover
        &:active
        &:focus
          text-shadow: 0px 0px 3px black
          color: thc-highlight-color

      text-align: right
      font-size: 12pt
      text-indent: 0;
      li
        padding: 1em;
        display: inline-block
        &.nav-selected
          font-weight: 700;
          li
            font-weight: 500;
  &.main
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content flex-start
    align-items flex-start
    min-height: 512px;
    min-width: 800px;
    background-color: transparent
    thc-font()
    margin 0 auto
    margin: 2em 0 0 0;
    text-align: justify
    line-height: 1.4em
    word-wrap break-word
    padding-left: 4em;
    a
      color: thc-accent-color
      &:hover
      &:active
      &:focus
        text-decoration: none;
        text-shadow 0px 0px 4px thc-highlight-color
    hr
      width: 10%
      border-width: 1px
      border-style: solid
      border-color thc-action-color
    p a:after, li a:after
      color: thc-action-color
      content: '*'
    article footer
      color thc-action-color !important
      text-align right
    ul
      li
        margin-bottom: 0.7em
      padding-left: 1em
      list-style: none
      li:before
        content: ''
        padding-right: 0.2em
    h1, h2, h3, h4
      thc-headline-font()
      color:thc-accent-color;
      a
        color: thc-accent-color
        &:hover
        &:active
        &:focus
          thc-highlight-color
    h1 { font-size: 21pt; color:thc-accent-color; }
    h2 { font-size: 18pt; font-weight: 300 !important; margin: 1em auto; }
    h3 { font-size: 14pt; margin: 0.5em auto; }
    h4 { font-size: 11pt; margin: 0.5em auto; color: #A0A0A0}
    h5 { font-size: 14pt; font-weight: 300; margin: 1em auto; }
    h6 { font-size: 14pt; font-weight: 300; margin: 1em auto; }
    p
      font-size: 16pt;
      text-indent: 0.5em;
      padding: 5px 10px 0 0 ;
      margin: 0.5em;
      text-align: justify;
    article.story
      flex-basis: 800px
      flex none
      & > section > p:first-child
        text-indent: 0;
        &:first-letter
          float:left
          font-size:2.8em;
          color: thc-action-color;
          margin: 0 0 0 -0.1em;
          padding: 0.1em;
          text-transform: uppercase;
          text-shadow: 0px 0px 3px thc-highlight-color


    span.year-label
      font-size: 32pt
    span.month-label
      font-size: 24pt
    li.archive-entry
      margin-left: 2em
      line-height: 0.9em
    section.archive li:before
      content: '' !important
    menu.nav
      text-align center
      font-size: 10pt

    figure
      display: block
      max-width: 728px
      min-width: 128px
      margin: 0 auto
      img
        display: block
        width: 100%
    figcaption
      display: block
      width: 100%
      text-align: right
      font-size: 0.5em

  &.footer
    font-size: 8pt;
    h1 { font-size: 14pt; }
    h2 { font-size: 12pt; }
    h3 { font-size: 10pt; }
    h4 { font-size: 8pt;  }
    h5 { font-size: 7pt;  }
    h6 { font-size: 6pt;  }
    width 100%
    padding 0
    margin 0
    clear both


body
  background-color thc-background-color
  &.body
    background-image  url(https://undoware-cdn.appspot.com/raster/bubble-chamber.jpg)
    background-size cover
    background-attachment fixed
  &.portfolio
    background-image  url(https://undoware-cdn.appspot.com/raster/shattered.png)
    background-attachment fixed
    background-repeat repeat
  &.who
    background-image  url(https://undoware-cdn.appspot.com/raster/me.jpg)
    background-size contain
    background-position right bottom
    background-repeat no-repeat
    background-attachment fixed
  &.archive
    background-image  url(https://undoware-cdn.appspot.com/raster/berlin.jpg)
    background-size cover
    background-repeat repeat-y
    background-attachment fixed
  &.resume
    background-color #000
    background-image  url(https://undoware-cdn.appspot.com/raster/zwartevilt.png)
    background-repeat repeat
    header.area.header
      display: none !important
      
#storyjs-timeline
#timeline-embed
  background-color: rgba(0,0,0,0) !important

.gallery-thumbnails
  display: flex
  width: 100%
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-items: flex-start
  > * 
    max-width: 256px

.slogan
  font-size: larger   

.page-title
  margin-top: 1em !important
  color: #FFFFFF !important
  text-shadow: none !important
 
menu.nav
  margin-bottom: 64px
