
/* I keep getting comments. THC actually stood for 'Triumph House Creative', a now-defunct nonentity. Think of
this as a one-stop place to tweak colours and fonts. */


thc-accent-color = #B0B0B0
thc-highlight-color = #D0D0D0
thc-background-color = #10090f
thc-action-color = #183f69
thc-corner-radius = 10px

thc-headline-font()
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 36pt;
  font-weight: 400;

thc-font()
  font-family: 'Source Sans Pro', 'Open Sans', Helvetica, serif;
  color: thc-accent-color
  font-size: 16pt
  font-weight: 300

// vim: expandtab :
