
thc-accent-color = #B0B0B0
thc-highlight-color = #D0D0D0
thc-background-color = #10090f
thc-action-color = #183f69
thc-corner-radius = 10px




thc-headline-font()
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 36pt;
  font-weight: 400;

thc-font()
  font-family: 'Source Sans Pro', 'Open Sans', Helvetica, serif;
  color: thc-accent-color
  font-size: 16pt
  font-weight: 300

thc-gradient(g1,g2)
  background: g1;
  background: -moz-linear-gradient(top, g1 0%, g2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,g1), color-stop(100%,g2));
  background: -webkit-linear-gradient(top, g1 0%,g2 100%);
  background: -o-linear-gradient(top, g1 0%,g2 100%);
  background: -ms-linear-gradient(top, g1 0%,g2 100%);
  background: linear-gradient(to bottom, g1 0%,g2 100%);






// vim: expandtab :
