// util.styl
/* Util.styl */
cdnHost    = 'https://undoware-cdn.appspot.com/'
vectorPath = 'vector/'
rasterPath = 'raster/'
stylePath  = 'style/'
fontPath   = 'font/'
scriptPath = 'script/'

cdner(x,path,suffix)
  full = 'https://' + cdnHost + path + x + '.' + suffix
  url(full)

svg(x)
  cdner(x,vectorPath,'svg')
png(x)
  cdner(x,rasterPath,'png')
jpg(x)
  cdner(x,rasterPath,'jpg')
