// util.styl

cdnHost    = 'https://undoware-cdn.appspot.com/'
vectorPath = 'vector/'
rasterPath = 'raster/'
stylePath  = 'style/'
fontPath   = 'font/'
scriptPath = 'script/'

cdn(f)
  url(cdnHost + f )

js(fr)
  cdn(scriptPath + fr + '.js')

css(fr)
  cdn(stylePath + fr + '.css')

jpg(fr)
  cdn(rasterPath + fr + '.jpg')

png(fr)
  cdn(rasterPath + fr + '.png')

woff(fr)
  cdn(fontPath + fr + '.woff')

ttf(fr)
  cdn(fontPath + fr + '.ttf')

svg(fr)
  cdn(vectorPath + fr + '.svg')


