// util.styl

cdn(f)
  'url(https://undoware-cdn.appspot.com/' + f + ')'

//require.js takes stripped suffixes, so passthru here too
js(fr)
  cdn(fr)

//we do need to attach suffix for CSS
css(fr)
  cdn('style/' + fr + '.css')

jpg(fr)
  cdn('raster/' + fr + '.jpg')

png(fr)
  cdn('raster/' + fr + '.png')


woff(fr)
  cdn('font/' + fr + '.woff')

ttf(fr)
  cdn('font/' + fr + '.ttf')

svg(fr)
  cdn('vector/' + fr + '.svg')


