/* MIT License, (c) 2013 Elizabeth Marston */

/* We don't do much that's special for widescreen displays,
   we just bump the nav a bit up and to the right to make
   better use of the real estate */

@media screen and (min-width: 800px)
  .area.topbar nav
    position: absolute
    right: -1em
    top: -1em
